# --- Core API Settings ---
ENVIRONMENT=development
DEBUG=True

# --- Security ---
# Ensure you generate a strong secret key for production environments
JWKS_URL=

# --- Database (Neon Serverless Postgres) ---
# Format: postgresql://[user]:[password]@[neon_endpoint]/[dbname]?sslmode=require
DATABASE_URL=

AUTH_URL=


GOOGLE_MAPS_API_KEY=